{% extends 'main/base.html' %}

{% block title %} Home page {% endblock %}

{% block content %}
<div class="container">
    {% if message_name %}
        <h2 style="margin: 50px;"> Thanks {{ message_name }}! </h2>
        <p> We received your email and will respond shortly... </p>
    {% else %}
    <div class="row justify-content-md-center" style="margin: 80px;">
        <div class="col-3">
            <img width=135 height="100" src="media/images/logo.jpg">
        </div>
        <div class="col-3">
            <h3 style="color: #3A7525; font-weight: bold; text-shadow: 2px 2px 0px #FFFFFF,
                5px 4px 0px rgba(0,0,0,0.15),-40px -40px 20px rgba(206,122,111,0);"> MebRamP </h3>
            <p> Rafał Meble </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 80px;">
        <div class="col-6">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11915.467738004096!2d17.
                    03100336701318!3d51.10996335424792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x
                    470fc275046e286d%3A0xe53f395cfe0d0ab1!2sRynek%208-11%2C%2050-106%20Wroc%C5%82aw!5e0!3m2
                    !1spl!2spl!4v1651606010316!5m2!1spl!2spl" width="560" height="450" style="border:0;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
        <div class="col-6">
            <div class="contact-form">
                <div class="section-heading">
                    <h2 align="start" style="margin: 50px; color: rgb(35,190,235);"> Get in Touch </h2>
                </div>
                <form action="/home/" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" name="message-name" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="email" name="message-email" class="form-control" placeholder="Your Email">
                        </div>
                        <div class="col-12">
                            <textarea name="message" class="form-control" placeholder="Your Message"
                            style="margin-top: 40px; margin-bottom: 40px;"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-info"> Send Message </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <h5 align="start"> All products: </h5>
    <div class="row row-cols-3">
        {% for product in products %}
            {% if product.product_image1 %}
            <div class="card">
                <a title="view this product" href="product/{{ product.id }}">
                    <img height="190" src="{{ product.product_image1.url }}">
                  </a>
                <div class="card-body">
                    <h5 class="card-title"> {{ product.name }} </h5>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div style="margin: 40px;">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1"> &laquo First </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}"> Previous </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link" href="#"> Page {{ products.number }} of {{ products.paginator.num_pages }} </a>
            </li>

            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}"> Next </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.paginator.num_pages }}"> Last &raquo </a>
                </li>
            {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
