{% extends 'main/base.html' %}

{% block title %} Home page {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center" style="margin: 80px;">
        <div class="col-3">
            <img width=135 height="100" src="media/images/logo.jpg">
        </div>
        <div class="col-3">
            <h3 style="color: #3A7525; font-weight: bold; text-shadow: 2px 2px 0px #FFFFFF,
                5px 4px 0px rgba(0,0,0,0.15),-40px -40px 20px rgba(206,122,111,0);"> MebRamP </h3>
            <p> Rafał Meble </p>
        </div>
    </div>
    <h5 align="start"> All products: </h5>
    <div class="row row-cols-3">
        {% for product in products %}
            {% if product.product_image1 %}
            <div class="card">
                <a title="view this product" href="product/{{ product.id }}">
                    <img height="190" src="{{ product.product_image1.url }}">
                  </a>
                <div class="card-body">
                    <h5 class="card-title"> {{ product.name }} </h5>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div style="margin: 40px;">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1"> &laquo First </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}"> Previous </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link" href="#"> Page {{ products.number }} of {{ products.paginator.num_pages }} </a>
            </li>

            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}"> Next </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.paginator.num_pages }}"> Last &raquo </a>
                </li>
            {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
