{% extends 'main/base.html' %}

{% block title %} Update product {% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            {% if products %}
                <h1> Update Product from Database List: </h1>
                <br>
                <div class="col-6">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"> ID </th>
                                <th scope="col"> Name Product </th>
                                <th scope="col">  </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <th scope="row"> {{ product.id }} </th>
                                <td> <a style="color: #3A7525; font-weight: bold; text-decoration: none;" title="view this product"
                                   href="product/{{ product.id }}"> {{ product.name }} </a>
                                </td>
                                <td align="center"> <a class="btn btn-outline-secondary btn-sm"
                                                       href="/update_product/{{ product.id }}"> Update </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                {% if messages %}
                    {% for message in messages %}
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0
                                1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </symbol>
                        </svg>
                        <div class="alert alert-success d-flex align-items-center alert-dismissible" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                                <use xlink:href="#check-circle-fill"/>
                            </svg>
                            <div>
                                {{ message }}
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                <h1> Update Product '{{ update_product_obj.name }}' </h1>
                <br>
                <form method="POST">
                    {% csrf_token %}{{ form.as_p }}
                    <button type="submit" class="btn btn-danger"> Update </button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
